.tf
.vs
bin
obj
node_modules
*.user

packages

*.vbw
*.scc

**/reports/*.xml
*.DotSettings
.terraform
*.tfstate.backup
*.Release*props
sloop-build*.log
*.vbp.log
/Source/Client/ActivityCalendar/ActivityCalendar.Web/yarn-error.log
/Source/Ngen/TestResults/
devops/vagrant/.vagrant/*
**/CodeAssassin.ConfigTransform.Readme.txt
